@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 0 0% 3.9%;
    --card: 60 56% 91%;
    --card-foreground: 0 0% 3.9%;
    --popover: 60 56% 91%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 122 47% 38%;
    --primary-foreground: 60 100% 99%;
    --secondary: 122 20% 68%;
    --secondary-foreground: 122 47% 18%;
    --muted: 122 15% 85%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 42 100% 50%;
    --accent-foreground: 42 100% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 122 20% 58%;
    --input: 122 20% 78%;
    --ring: 122 47% 38%;
    --chart-1: 122 47% 38%;
    --chart-2: 42 100% 50%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 122 20% 5%;
    --foreground: 60 100% 99%;
    --card: 122 20% 5%;
    --card-foreground: 60 100% 99%;
    --popover: 122 20% 5%;
    --popover-foreground: 60 100% 99%;
    --primary: 122 47% 38%;
    --primary-foreground: 60 100% 99%;
    --secondary: 122 20% 15%;
    --secondary-foreground: 60 100% 99%;
    --muted: 122 20% 15%;
    --muted-foreground: 60 10% 60%;
    --accent: 42 100% 50%;
    --accent-foreground: 42 100% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 122 20% 20%;
    --input: 122 20% 20%;
    --ring: 122 47% 38%;
    --chart-1: 122 47% 38%;
    --chart-2: 42 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
